

<div class="row">
  <div *ngFor="let product of listProdcut, let i = index">
    <div class="card" style="...">
      <img src="../../assets/img.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Product id: {{product.id}}</h5>
        <p class="card-text"> Some quick </p>

        <a routerLink="{{product.id}}">detail</a>
      </div>
    </div>
  </div>
</div>

  <!--    <table class="table">
        <thead>

        </thead>
        <tbody>
        <tr>
        <div *ngFor="let product of listProdcut, let i = index" >
          <div  *ngIf = "maxPrix < product.price">

          <td> {{product.id}}</td>
          <td> {{product.title}}</td>
          <td> {{product.price}}</td>
          <td>  {{product.quantity}}</td>
          <td> {{product.like}}</td>
          <td><input type="submit" value="Buy" (click) ='setQuantity(i)' [disabled]='product.quantity == 0'></td>
          <td><input type="submit" value="Like" (click) ='setLike(i)'></td>
          </div>
        </div>
        </tr>
        </tbody>

      </table>-->



        <!-- <div *ngIf= "product.quantity == 0">
            <input type="submit" value="Buy" (click) ='setQuantity(i)' [disabled]=true>
        </div>
        <div *ngIf= "product.quantity > 0">
            <input type="submit" value="Buy" (click) ='setQuantity(i)' [disabled]=false>
        </div> -->



